<?xml version = "1.0" encoding = "UTF-8"?>

<suite name = "Login Test Suite">
   <test name = "LoginTest">
      <classes>
         <class name = "com.djapp.tests.LoginDJTest" />
      </classes>
   </test>
   <test name = "WelcomeTest">
      <classes>
         <class name = "com.djapp.tests.WelcomePageTest" />
      </classes>
   </test>
</suite>